/* part 1 */

.bottom-header {
    height: 55px;
}

.logo {
    height: 45px;
    width: 45px;
}


/* part 3 */

.first-menu {
    height: 83px;
    overflow: auto !important;
    /* white-space: nowrap !important; */
    /* max-width: 800px; */

}

.first-menu a {
    white-space: nowrap;
    display: block;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.8;
    color: #151e2d;
    text-decoration: none;
    padding: 28px 20px 0px 20px;
}

.first-menu a:hover {
    color: #ff1541;
}


.first-menu p {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.8;
    color: #b7b7b7;
    padding: 28px 20px 26px 20px;

}

.first-menu a:nth-of-type(3) {
    color: #ff1541;
}

.first-menu a:nth-of-type(3)::after {
    content: "";
    height: 2px;
    margin-top: 24px;
    margin-left: -18px;
    width: 170%;
    background-color: #ff1541;
    display: block;
    transform: scaleX(1);

}



.first-menu a::after {

    content: "";
    height: 2px;
    margin-top: 24px;
    background-color: #ff1541;
    display: block;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 500ms ease 0s;
}

.first-menu a:hover::after {
    transform: scaleX(1);
}

/* part4 */
.filter-bar {
    background-color: #f4f4f4;
    height: 120px;
}

.group {
    border: solid 1px #e2e2e2;
    height: 50px;
    width: 180px;
}

.players {
    width: 60%;
    background-color: white;
    border-right: solid 1px #e2e2e2 !important;
    border-radius: 0px 5px 5px 0px;

}

.stuff {
    width: 40%;
    background-color: #f4f4f4;

}

.date {

    height: 50px;


}

/* part5*/
.position-title{
    padding: 0 30px;
}

/* part6 */
.part6 .row {
    margin: 0 10px;
}

.player-card-2 {
    background-color: #141d2c;
    background-image: linear-gradient(rgba(19, 25, 40, 0) 0%, #131928 100%);
}

.player-card-3{
    position: relative;
}


.detail {
    position: absolute;
    height: 75%;
    width: 100%;
    align-content: space-between;
    top: 0;
    padding-top:20px;


}

.player-card:hover .role {
    display: none;
}

.player-card-3:hover .number {
    color: #a6adbb;
    z-index: 3;

}

.player-card-3:hover .name {
    color: #151e2d;
    z-index: 3;

}

.number {
    font-size: 3.7rem;
    line-height: 0.5;
    color: #3f4b5a;
    margin-bottom: auto;
    transition: color 0.1s, border 0.4s;
}


.name {
    font-size: 2.5rem;
    line-height: 1;
    color: white;
    order: 1;
    z-index: 2;

}

.role {
    font-size: 1rem;
    line-height: 2;
    color: #ff1541;
    order: 0;
    z-index: 2;
}

.pic61 {
    height: 450px;
    opacity: 0.7;
}

.profile-section {
    height: 20%;
    transition: background-color 0.9s border 0.4s;
    border-top: 1px solid #3f4b5a;
    z-index: 4;
}

.profiletext {
    text-align: left;
    font-size: 1.1rem;
    
}

.player-scores {
    font-size: 4rem;
    color: #ff1541;
    line-height: 1;
    margin-bottom: 5px !important;
    font-weight: 600;


}

.topic {
    font-size: 0.9rem;
    line-height: 0.6;
    margin-left: 7px;
    font-family: sans-serif;

}

.lastlogo {
    width: 85px;
    height: 85px;
}