@media all and (min-width:576px) and (max-width:991px) {
    .logo {
        height: 45px;
        width: 45px;
    }

    .logo-holder {
        box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;


    }

    .player-card {
        background-color: #141d2c;
        height: 450px;
        width: 48%;
        position: relative;
        padding: 0 !important;

    }

    .player-card:hover .profile-section {
        background-color: #ff1541 !important;
        z-index: 10;
        margin-bottom: 1px;



    }

    .player-card :hover .player-card-detail {

        background-color: rgba(255, 255, 255, 0.90);
        z-index: 10;
        left: 0px;

    }

    .player-card :hover .number {
        color: #a6adbb;
        z-index: 11;

    }

    .player-card :hover .name {
        color: #151e2d;
        z-index: 11;

    }




    .detail {
        position: absolute;
        height: 70%;
        align-content: space-between;
        margin-bottom: 70px;
        margin-left: 20px;


    }

    .number {
        font-size: 4rem;
        line-height: 0.5;
        color: #3f4b5a;
        margin-bottom: auto;
        transition: color 0.1s, border 0.4s;
    }


    .name {
        font-size: 2.5rem;
        line-height: 1;
        color: white;
        order: 1;
    }

    .role {
        font-size: 1rem;
        line-height: 1.5;
        color: #ff1541;
        order: 0;
    }

    .pic61 {
        height: 450px;
        overflow: hidden;
    }

    .profile-section {
        align-self: flex-end;
        transition: background-color 0.4s, border 0.4s;
    }

    .profiletext {
        height: 15%;
        text-align: left;
        font-size: 1.3rem;
        padding: 25px 30px;
        border-top: 1px solid #3f4b5a;

    }

    .player-card-detail {
        height: 82%;
        z-index: 10;
        right: 600px;
        transition: background-color 0.4s, border 0.4s;
        font-family: sans-serif;
    }

    .player-scores {
        font-size: 5rem;
        color: #ff1541;
        line-height: 1;


    }

    .topic {
        font-size: 0.9rem;

    }

}