@font-face {
    font-family: 'Bokonique';
    src: url('../fonts/Bokonique-Bold.woff2') format('woff2'),
        url('../fonts/Bokonique-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Bebas Neue';
}



/* part 1 */

.bottom-header {
    z-index: 4 !important;
    font-size: 1rem;
}

.logo-holder {
    transform: translateX(-50%);
    left: 50%;
}


.bi-person {
    font-size: 1.2rem;
    line-height: 55px;
    font-weight: bold;

}

.bi-person:hover,.bi-globe:hover,.bi-search:hover {
    color: #ff1541;
}




.person-form button {
    color: #151e2d;
    background-color: white;
}


.person-dropdown{
    background-color: #151e2d;
} 

.person-dropdown a:hover {

    background-color: #151e2d;
    color: #a6adbb !important;
}
.bi-globe {
    font-size: 1.2rem;
    line-height: 55px;
    font-weight: bold;
}

.globe-dropdown{
    background-color: #151e2d;
}

.globe-items{
    color: white; 
}

.globe-items:hover {
    color: #ff1541;
    background-color: #151e2d;
}

.bi-three-dots-vertical {
    font-size: 1.2rem;
    color: #edeef2;
    font-weight: bold;

}
.bi-search{
    font-size: 1.2rem;
}
.part1-menu-dropdown {
    background-color: #f2f2f2;
}

.buttons-menu{
    border-radius: 0;
    background-color: #dbdcde;
    color: #151e2d;
    width: 100px;
}


.logo-holder {
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}



a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}


/* part5 */

.position-section {
    font-size: calc(2vw + 8px);
}

/* part6 */
.shadow-overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
}

.player-card-3:hover .shadow-overlay{
    background-color:rgba(255, 255, 255, 0.924);
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0, 0, 0, 0)) !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.player-card-3:hover .profile-section {
    background-color: #ff1541 !important;
    z-index: 2;
}

.player-card-detail {
    height: 80%;
    z-index: 2;
    right: 2000px;
    line-height: 0.5;
    padding: 0 !important;
    text-align: left;
    margin-left: -50px;
    transition-property: all;
    transition-duration: 400ms;

}

.player-card-3:hover .player-card-detail {
    z-index: 2;
    left: 0px;

}

.part6-a:hover .player-card-detail {
    margin-left: 0;

}

p {
    margin-bottom: 0;
}
/* part 15 */

.sponsor {
    height: 5vw;
}

.sponsorlist2 {
    background-color: #151e2d;
    height: 100px;
    padding: 20px 0;
}
.brline-p {
    background-color: #151e2d;
}
.brline-ch {
    background-color: #ff1541;
    height: 2px;
    width: 85%;
}

.social-link {
    background-color: #151e2d;
    width: 100%;
}



/* part17 */


h6 {
    line-height: 30px;
}

.a17 {
    color: #a6adbb !important;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 12px;
    transition: all 300ms ease 0s;

}

.a17:hover {
    text-decoration: underline !important;
}

.a18 {
    color: #a6adbb !important;
    list-style-type: none;
    font-size: 20px;
    transition: all 300ms ease 0s;

}

.a18 :hover {
    color: white;
}

.pic18 {
    width: 20px;
    height: 20px;
    filter: brightness(80%);

}

.pic18:hover {
    filter: brightness(100%);
}

ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}