@font-face {
    font-family: 'Bokonique';
    src: url('../fonts/Bokonique-Bold.woff2') format('woff2'),
        url('../fonts/Bokonique-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Bebas Neue';
}

.header {
    top: 0px;
    z-index: 10 !important;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.bi-person {
    font-size: 22px;
    line-height: 55px;
    font-weight: bold;

}

.bi-person:hover {
    color: #ff1541;
}

.bi-list {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.bi-globe {
    font-size: 20px;
    line-height: 55px;
    font-weight: bold;
}

.bi-globe:hover {
    color: #ff1541;
}

.bi-three-dots-vertical {
    font-size: 24px;
    color: #edeef2;
    font-weight: bold;

}

.logo {
    height: 45px;
    width: 45px;
}

.logo-holder {
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}


.navigation {
    height: 60px;
    line-height: 60px;
    overflow: auto;
}

.ul3 {
    list-style-type: none;
    font-size: 16px;
}

.li3 {
    margin-right: 25px;
}

.a3 {
    height: 60px;
    display: block;
    text-decoration: none;
    line-height: 60px;
    padding: 0 10px;
    white-space: nowrap;
}


.filter-bar {
    background-color: #f4f4f4;
    height: 120px;
}



.group {
    border: solid 1px #e2e2e2;
    height: 40px;
    width: 25%;
}

.players {
    width: 60%;
    background-color: white;
    border-right: solid 1px #e2e2e2 !important;
    border-radius: 0px 5px 5px 0px;

}

.stuff {
    width: 40%;
    background-color: #f4f4f4;

}

.position-section {
    height: 120px;
}
 
p {
    margin-bottom: 0;
}