@font-face {
    font-family: 'Bokonique';
    src: url('../fonts/Bokonique-Bold.woff2') format('woff2'),
        url('../fonts/Bokonique-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Bebas Neue';
}

/* part 1 */

.bottom-header {
    z-index: 4 !important;
    font-size: 1rem;
}

.logo-holder {
    transform: translateX(-50%);
    left: 50%;
}


.bi-person {
    font-size: 1.2rem;
    line-height: 55px;
    font-weight: bold;

}

.bi-person:hover,.bi-globe:hover,.bi-search:hover {
    color: #ff1541;
}

.bi-globe {
    font-size: 1.2rem;
    line-height: 55px;
    font-weight: bold;
}

.bi-three-dots-vertical {
    font-size: 1.2rem;
    color: #edeef2;
    font-weight: bold;

}
.bi-search{
    font-size: 1.2rem;
}

.logo-holder {
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}



a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

/* Part4*/




.position-section {
    height: 120px;
}

p {
    margin-bottom: 0;
}

.sponsorlist1 {
    height: 90px;
}

.sponsor {
    height: 25px;
}

.sponsorlist2 {
    background-color: #151e2d;
    height: 100px;
    padding: 20px 0;
}

.brline {
    background-color: #ff1541;
    height: 2px;
    width: 85%;
}

.social-link {
    background-color: #151e2d;
    width: 100%;
}

/* part17 */


h6 {
    line-height: 30px;
}

.a17 {
    color: #a6adbb !important;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 12px;
    transition: all 300ms ease 0s;

}

.a17:hover {
    text-decoration: underline !important;
}

.a18 {
    color: #a6adbb !important;
    list-style-type: none;
    font-size: 20px;
    transition: all 300ms ease 0s;

}

.a18 :hover {
    color: white;
}

.pic18 {
    width: 20px;
    height: 20px;
    filter: brightness(80%);

}

.pic18:hover {
    filter: brightness(100%);
}

ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}